.row {
    background-color: #fff;
    border-radius: 30px;
    margin-left: 0;
    --bs-gutter-x: 0;
    box-shadow: 12px 12px 22px grey;
}

.img-fluid {
    border-top-left-radius:  30px;
    border-bottom-left-radius: 30px;
    max-width: 100%;
    height: 100%;
}

